<div class="container-fluid">
  <div class="row">
  <%= render 'shared/admin_navbar' %>
    <div class="col-sm-9">
      <h1>Admin::Ways#index</h1>
      <p>Find me in app/views/admin/ways/index.html.erb</p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Voie</th>
            <th scope="col">Active</th>
            <th scope="col">Date Maj</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% @ways.each do |way| %>
          <tr>
            <th scope="row"><%= way.id %></th>
              <td><%= way.voie %></td>
              <td><%= way.active %></td>
              <td><%= way.updated_at %></td>
              <td>
                <%= link_to admin_way_path(way.id) do %>
                  <i class="fas fa-eye"></i>
                <% end %>
              </td>
          </tr>
            <% end %>
        </tbody>
     </table>
   </div>
  </div>
</div>

