<div class="container-fluid">
  <div class="row">
  <%= render 'shared/admin_navbar' %>
    <div class="col-sm-9">
      <h1>Admin::Tracks#index</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Active</th>
            <th scope="col">Date Maj</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% @tracks.each do |track| %>
          <tr>
            <th scope="row"><%= track.id %></th>
              <td><%= track.name %></td>
              <td><%= track.active %></td>
              <td><%= localize(track.updated_at, :format => :sample) %></td>
              <td>
                <%= link_to  admin_way_tracks_path(track.id) do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <%= link_to  admin_way_tracks_path(track.id), method: :patch do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to  admin_way_tracks_path(track.id), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
          </tr>
            <% end %>
        </tbody>
     </table>
     <%= link_to "Ajouter track", new_admin_way_track_path(@way.id), :class=>"btn btn-primary" %>
   </div>
  </div>
</div>



