<h1>Pages#indexPois</h1>

<% @pois.each do |poi| %>
<div>
  <%= poi.name %>
  <%= poi.address %>
  <%= poi.address2 %>
  <%= poi.zip_code %>
  <%= poi.city %>
  <%= poi.pk %>
  <%= poi.latitude %>
  <%= poi.longitude %>
  <%= link_to "Show", poi_path(poi.slug) %>
  <%= link_to "Edit", edit_poi_path(poi.slug)%>
  <%= link_to "Delete", poi_path(poi.slug), method: :delete %>
</div>
<% end %>
