<% content_for :meta_title, "#{@poi.name} - #{DEFAULT_META["meta_poi_name"]}" %>
<% content_for :meta_description, @poi.city %>
<% content_for :meta_image, cl_image_path("elke-karin-lugert-125493-unsplash.jpg", :quality=>57, :width=>1200, :crop=>"scale") %>

<h1>Pages#showPois</h1>

<div>
  <%= @poi.name %>
  <%= @poi.address %>
  <%= @poi.address2 %>
  <%= @poi.zip_code %>
  <%= @poi.city %>
  <%= @poi.pk %>
  <%= @poi.latitude %>
  <%= @poi.longitude %>
</div>


<h2>Localisation</h2>
<div id="map" data-markers="<%= @markers.to_json %>"></div>
