<h1>Pages#showPois</h1>

<div>
  <%= @poi.name %>
  <%= @poi.address %>
  <%= @poi.address2 %>
  <%= @poi.zip_code %>
  <%= @poi.city %>
  <%= @poi.pk %>
  <%= @poi.latitude %>
  <%= @poi.longitude %>
</div>

